.m
{

margin-left:550px;
margin-top:60px;
color:cyan;

}
.t
{
	margin-left:400px;
}
.l
{
	margin-top:100px;
	margin-right:50px;
}
.b1
{
	margin-left:20px;
}
.b
{
	font-size:50px;
	background-color:black;
	color:yellow;
}
.en
{
	font-size:30px;
}
.tb
{
	font-size:20px;
}
.mb
{
	font-size:15px;
}